# Exclude static files
.trapp/index.html
.trapp/static/*
trapp/build/*
static/*
static
trapp/build
db.sqlite3
*.__pycache__
*.__pycache__/*
__pycache__
__pycache__/*
db.sqlite3
*.sqlite3
*.sqlite3
/ResearchSwipe/__pycache__
*.sqlite3
/ResearchSwipe/__pycache__
/Syed/__pycache__
